@font-face {
    font-family: 'coca';
    src: url(./fonts/LOKICOLA.TTF);
}

:root{
    --primary-color: #E41C2A;
    --white: #ffffff;
    --text-color: #000;
    --text-color1: #333333;
    --text-color2: #222222;
    --gray-100: #F7F7F7;
    font-size: 10px;
}


*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--background-body);
}

html, body{
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
}

.reveal {
  opacity: 0;
  transition: all 0.6s ease;
  transform: translateX(-150px);
}

.reveal.show {
  opacity: 1;
  transform: translateX(0);
}

.background-section{
    background-color: var(--gray-100);
}

button{
    cursor: pointer;
}

.header{
    width: 100%;
    background-color: var(--primary-color);
    z-index: 99;
    position: sticky;
    top: 0;
}

.header section{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2rem;
    max-width: 1280px;
    margin: 0 auto;
}

.header section .logo{
    min-width: 60px;
    max-width: 100px;
}

.header section .logo img{
    width: 100%;
}

.header section .icon-menu-list i{
    color: #fff;
}

.header section .icon-menu-list{
    display: none;
    font-size: 25px;
    cursor: pointer;
}

.header section .navbar ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.header section .navbar ul li{
    list-style: none;
}

.header section .navbar a{
    font-size: 1.8rem;
    color: var(--white);
}

.header section .navbar ul li:hover{
    transform: scale(1.03);
}

.header section .navbar ul li:hover a{
    color: #fff;
    border-bottom: 3px solid var(--gray-100);
    padding-bottom: 0.5rem; 
}

/* ======= SECTION HOME =========== */
/* SECTION BANNER HERO */

.home-container{
    background-position: center;   
    max-height: 700px; 
    height: 600px;
    display: flex;
    width: 100%;
    align-items: center;
    align-items: center;
    position: relative;
    background-color: var(--primary-color);
    background-image: url(./img/logo480.svg);
    background-repeat: no-repeat;
    background-size: 60%;
}

/* IMAGENS DOS SLIDES */

.home-container .line-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./img/line-hero-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-container .slider{
   
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.home-container .slides{
    display: flex;
    height: 100%;
    width: 400%;
}

.home-container .slides input{
    display: none;
}

.home-container .slide{
    width: 25%;
    position: relative;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .slide img{
    max-width: 70%;
    max-height: 350px;
    animation: moveProduct 2s ease-in forwards infinite;
}

.home-container .manual-navigation{
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.home-container .manual-btn{
    border: 2px solid#fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.home-container .manual-btn:hover{
    background: #fff;
}
.home-container #radio1:checked ~ .first{
    margin-left: 0;
}
.home-container #radio2:checked ~ .first{
    margin-left: -25%;
}
.home-container #radio3:checked ~ .first{
    margin-left: -50%;
}
.home-container #radio4:checked ~ .first{
    margin-left: -75%;
}

.home-container .nav-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.home-container .nav-auto{
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: none;
    justify-content: center;
    gap: 40px;
}
.home-container #radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #fff;
}
.home-container #radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #fff;
}
.home-container #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #fff;
}
.home-container #radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #fff;
}

.home-container .icons-social-midia{
    color: white;
    font-size: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
}

.home-container .container-button-banner{
    width: 100%;
    position: absolute;
    bottom: -15px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container .container-button-banner .button-banner-cta-products{
    padding: 2px 10px;
    background-color: black;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    width: 300px;
    height: 40px;
    z-index: 2;
}
.home-container .container-button-banner .button-banner-cta-products p{             
    color: white;
    font-size: 1.8rem;
}
.home-container .container-button-banner .button-banner-cta-products img{
    width: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
/* SECTION BANNER HERO  -------------*/

/* ============ SECTION CAMPAIGN ==============*/
.campaign{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gray-100);
    overflow: hidden;
    padding: 30px 20px;
}

.campaign *{
   z-index: 1;
}

.campaign .turned-bottom{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-image: url(./img/background-turner.png);
    background-size: cover;
    background-position: top center;

}

.campaign .col1{
    width: 50%;
    min-width: 480px;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campaign .col1 .content{
    width: 100%;
    max-width: 700px;
    padding: 10px;
    height: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    color: white;
}

.campaign .col1 .content h1{
    font-size: 5rem;
    min-width: 500px;
}
.campaign .col1 .content p{
    font-size: 2rem; 
    width: 60%;
    margin-top: 20px;
}
.campaign .col1 .content button{
    margin-top: 20px;
    width: 250px;
    padding: 8px 0;
    font-size: 2rem;
    border-radius: 50px;
    border: none;
    background-color: var(--primary-color);
    border: 3px solid white;
}

.campaign .col1 .content button a{
    color: white;
}

.campaign .col2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
    max-width: 650px;
}

.campaign .col2 .container-grid{
    width: 400px;
    max-width: 450px;
    height: 500px;
    position: relative;
    flex: 1;
}

.campaign .col2 .container-grid .container-image{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

.campaign .col2 .container-grid .container-image:nth-child(1){
    background-image: url(./img/coca-campanha.jpg);
    left: 0;
    top: 120px;
    width: 250px;
    height: 250px;
   
}

.campaign .col2 .container-grid .container-image:nth-child(2){
    background-image: url(./img/brinde-coca-camapanha.jpg);
    right: 0;
    top: 0;
}

.campaign .col2 .container-grid .container-image:nth-child(3){
    background-image: url(./img/tomando-cocacola\ \(1\).png);
    right: 0;
    bottom: 20px;
}

/* ============ SECTION CAMPAIGN ==============*/

.values{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 700px;
}

.values .container-options{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-grow: 1;
}

.values .options{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid black;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer
}

.values .options:hover, .values .options.active{
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.values .row{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.values .col1{
    width: 50%;
    min-width: 350px;
    height: auto;
    max-width: 350px;
}

.values .col1 .content-values{
    max-width: 350px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.values .col1 .content-values .container-values{
    display: none;
}

.values .col1 .content-values .container-values.show{
    display: block;
}

.values .col1 .content-values img{
    max-width: 70px;
    margin-top: 20px;
}

.values .col1 .content-values h1{
    max-width: 300px;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
}

.values .col1 .content-values h2{
    max-width: 100%;
    font-size: 25px;
}

.values .col1 .content-values p{
    font-size: 14px;
}

.values .col2{
    width: 100%;
    min-width: 320px;
    max-width: 400px;
    height: 400px;
    background-image: url('./img/background-value.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}


/* ============ FIM SECTION VALUES ========= */


/* ============ SECTION CATALOGO ============== */
.catalog{
    width: 100%;
    height: auto;
    min-height: 700px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;
}
.catalog *{
    z-index: 0;
}

.catalog .turned-bottom{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-image: url(./img/backgroundTurned-bottom.png);
    background-size: cover;
    background-position: center;
}


.catalog .catalog-categories{
    width: 100%;
    max-width: 1200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.catalog .catalog-category{
    width: 150px;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.catalog .catalog-category.active, .catalog .catalog-category:hover{
    background-color: var(--primary-color);  
}

.catalog .container{
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    flex: 1;
}

.catalog .container .catalog-slide{
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 550px;
}

.catalog .container .catalog-slide .item{
    width: 100px;
    min-width: 70px;
    max-width: 1200px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0 5px 3px #0c0c0c56;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s; 
    background-color: white;
    
    transform: translateX(-100%);
}

.catalog .container .catalog-slide .item.show{
    background-image: none !important;
    background-color: transparent;
    display: flex;
    height: auto;
    padding: 15px;
    position: initial;
}

.catalog .item .content{
    display: none; 
}

.catalog .item.show .content{
    width: 50%;
    min-width: 270px;
    max-width: 400px;
    text-align: left;
    color: black;
    display: none; 
    text-align: left;
    padding: 0 20px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
}

.catalog .item.show .container-image{
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    flex: 1;
}

.catalog-test .item .container-image{
    width: 50px;
    height: 50px;
    display: none;
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.catalog .catalog-slide .item:nth-child(1) .content{
    display: flex;
    color: white;
}
.catalog .catalog-slide .item:nth-child(1) .container-image{
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 70%;
    max-height: 350px;
}


.catalog .content .name{
    font-size: 40px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 0.3s ease-in-out 1 forwards;
    text-align: left;
}

.catalog .content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    opacity: 0;
    animation: animate 0.3s ease-in-out 0.3s 1 forwards;
    overflow-y: auto;
    max-height: 80px;
}

.catalog .content .des::-webkit-scrollbar{
    display: none;
}

.catalog .content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    color: white;
    background-color: black;
    border-radius: 40px;
    animation: animate 0.3s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(20px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}


.catalog .catalog-slide .item:nth-child(1){
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.catalog .catalog-slide .item:nth-child(2){
    right: 20%;
    bottom: 5px;
    display: flex; 
    position: absolute;
    filter: drop-shadow(2px 4px 6px black);
}
.catalog .catalog-slide .item:nth-child(3){
    right: calc(20% - 90px);
    bottom: 5px;
    display: flex;
    position: absolute;
    filter: drop-shadow(2px 4px 6px black); 
}
.catalog .catalog-slide .item:nth-child(4){
    right: calc(20% - 180px);
    bottom: 5px;
    display: flex;
    position: absolute; 
    filter: drop-shadow(2px 4px 6px black);
}

/* here n = 0, 1, 2, 3,... */
.catalog .catalog-slide .item:nth-child(n + 5){
    opacity: 1;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.catalog .button{
    width: 100%;
    max-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.catalog .button button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.3s;
    background-color: black;
    color: white;
}

.catalog .button button:hover{
    opacity: 0.8;
}

/* ============ FIM SECTION CATALOGO ============== */

/* =============== SECTION ADDRESS =============== */

.address{
    width: 100%;
    background-color: var(--gray-100);
    min-height: 700px;
    display: flex;
    justify-content: center;
    padding: 30px 8px;
    align-items: center;
}

.address .row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.address .row .col1{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 50%;
    min-width: 380px;
}

.address .row .col1 .box {
    max-width: 450px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.address .row .col1 .box .container{
    width: 200px;
    height: 120px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--text-color1);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.address .row .col1 .box .container div:nth-child(2){ 

    min-height: 40px;
    font-size: 1.2rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 5px;
}

.address .row .col1 .box .container .icon{
    background-color: var(--primary-color);
    width: 28px;
    height: 28px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address .row .col1 .box .container i{
    font-size: 18px;
    color: white;
}


.address .row .col2{
    flex-grow: 1;
    height: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.address .row .col2 .container-map{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address .row .col2 .container-map iframe{
    width: 100%;
    max-width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--text-color1);
}


/* ======== FIM SECTION ADRESS ======== */


footer .row{
    display: flex;
    width: 100%;
    height: 70px;
    gap: 10px;
    padding: 15px;
    background-color: black;
}

footer .row .container{
    display: flex;
    flex: 1;
}

footer .row .container .container-logo{
    display: flex;
    height: 70px;
    gap: 2px;
}

footer .row .container .container-logo .logo{
    max-width: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer .row .container .container-logo .logo img{
    width: 120%;
}

footer .row .container .container-logo .logo-text{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

footer .row .container .container-logo .logo-text h1{
   font-size: 3rem;
}

footer .share{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

footer .share i{
    cursor: pointer;
    margin: 0.3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
}

footer .share i:hover{
    background-color: var(--main-color);
}

footer .copyright{
    width: 100%;
    height: 40px;
    color: white;
    background-color: #000;
    font-size: 1.2rem;
    text-align: right;
    padding-right: 50px;
}

footer .copyright a{
    color: yellow;
    font-weight: 800;
}

/* ---------- FIM FOOTER -------- */

/* -------- ANIMAÇÕES ----------*/
@keyframes effectFade{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes effectTranslate{
    0%{
        opacity: 0;
        transform: translateX(-850px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveProduct{
    0%{
        transform: translateY(0) translateX(0) rotate(25deg);
    }
    50%{
        transform: translateY(-15px) translateX(15px) rotate(25deg);
    }
    100%{
        transform: translateY(0) translateX(0) rotate(25deg);
    }
}

@keyframes moveBox{
    0%{
        transform: translateY(0);
    }
    100%{
         box-shadow: 5px 5px 10px gray;
        transform: translateY(-20px);
    }
}


/* -------- FIM ANIMAÇÕES ----------*/

/* ---------- RESPONSIVIDADE --------------- */

/* mobile */
@media screen and (max-width: 480px){
     .campaign{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 2px;
    }

    .campaign .col1{
    width: 100%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

    .campaign .col1 .content h1{
        font-size: 4rem;
        min-width: 300px;
    }

}

@media screen and (max-width: 650px){
 
    .catalog .turned-bottom{
        /* background-image: none;
        background-color: var(--primary-color); */
        color: #000;
        background-position: 90% 20%;
    }

    .catalog .item.show .content{
        margin-top: 20px;
        
    }

    .catalog .catalog-slide .item:nth-child(1) .content {
        color: black;
    }

}

@media screen and (max-width: 768px){
    
    .header section{
        justify-content: space-between;
    }

    .header section .icon-menu-list{
        display: block;
        transition: all 0.2s ease-in-out;
    }

    .header section .navbar ul{
        display: none;
        gap: 10px;
    }

     .header #navbar-mobile ul{
        text-align: center;
        padding: 5px;
    }
  
    .header #navbar-mobile ul li{
        padding: 1rem 0;
        list-style: none;
        cursor: pointer;
        transform: translateX(-850px);
        display: flex;
    }
    .header #navbar-mobile ul li:hover{
        background-color: var(--gray-100);
    }
    .header #navbar-mobile ul li:hover a{
        color: #000;
        font-weight: 600;
    }

    .header #navbar-mobile ul li a{
        font-size: 1.5rem;
        color: #fff;
        width: 100%;
        height: 100%;
    }

    /* SECTION CAMPAIGN */
   

    .campaign .col1 .content h1{
        font-size: 4rem;
        min-width: 300px;
    }

    .campaign .col2 .container-grid .container-image:nth-child(1){

        width: 220px;
        height: 220px; 
    }

    .campaign .col2 .container-grid .container-image {
    width: 165px;
    height: 165px;
    }

    
    .campaign .col2 .container-grid .container-image:nth-child(2){
        right: 5%;
    }

    .campaign .col2 .container-grid .container-image:nth-child(3){
    right: 7%;
    bottom: 20%;
}


    
}

/* Laptops */
@media screen and (min-width: 1024px) {
  
}

@media screen and (min-width: 1280px) {
  
}

/* Desktop grande */
@media screen and (min-width: 1440px) {
  
}